<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The BroadCast</title>
  </head>
  <body>
    {% include 'navigation.html' %}
    {% block content %}
    <div>
      <h1>The BroadCast</h1>
      <h3>Lunch Date: 02-01-2025</h3>
      <p>
        "The BroadCast" is a dynamic and user-friendly news website designed to
        deliver the latest news and updates from around the world. Developed
        using the Python Flask framework, this platform aims to keep users
        informed with accurate and structured news articles. The website is
        styled with CSS to maintain a professional and aesthetically pleasing
        look.
      </p>
      {% endblock %}
    </div>
  </body>
</html>
